.itemGroup {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.itemGroup h1 {
    text-decoration: underline solid red 2px;
}

.items {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    column-gap: 20px;
    row-gap: 20px;
    align-items: center;
}

@media screen and (max-width: 990px) {
    .items {
        grid-template-columns: repeat(2, 50%);
    }
}

@media screen and (max-width: 600px) {
    .items {
        grid-template-columns: auto;
    }
}
