.itemGroup {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.itemGroup h1 {
    text-decoration: underline solid red 2px;
}

.items {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    column-gap: 20px;
    row-gap: 20px;
    align-items: center;
}

.spaceBetween {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navLink {
    color: black;
    font-size: var(--font-size-h4);
}

.navLink:hover{
    color: var(--clr-primary);
}

.button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--clr-primary);
    border: none;
    box-shadow: none;
    transition: all 250ms ease-in-out;
}

.button:hover {
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
    color: black;
}

@media screen and (max-width: 990px) {
    .items {
        grid-template-columns: repeat(2, 50%);
    }
}

@media screen and (max-width: 600px) {
    .items {
        grid-template-columns: auto;
    }
}
