@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --clr-primary: #FB2056;

  --font-size-h1: clamp(32px, 7vw, 72px);
  --font-size-h2: clamp(24px, 5vw, 45px);
  --font-size-h3: clamp(20px, 4vw, 28px);
  --font-size-h4: clamp(18px, 3vw, 24px);
  --font-size-p: clamp(16px, 2.5vw, 20px)
  --font-size-button: clamp(16px, 2.75vw, 18px);
  --font-size-caption: 16px;
}

h1 {
  font-size: var(--font-size-h1);
  margin: 0;
  font-weight: 400;
  font-family: 'DM Serif Display', serif;
}

h2 {
  font-size: var(--font-size-h2);
  margin: 0;
  font-weight: 400;
  font-family: 'DM Serif Display', serif;
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: 400;
  margin: 0;
  font-family: 'DM Serif Display', serif;
}

h4 {
  font-size: var(--font-size-h4);
  font-weight: 400;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: var(--font-size-p);
  margin: 0;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--clr-primary);
  border: none;
  box-shadow: none;
  transition: all 250ms ease-in-out;
}

button:hover {
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.25);
  color: black;
}

.button {
  font-size: var(--font-size-button);
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.caption {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.5px;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
