.itemSection {
  padding: 20px;
}

.footer {
  padding: 20px;
  color: white;
  background-color: #222222;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}