.heroSection {
  height: 100vh;
  background: url("../../public/Landing.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 0px 50px;
}

.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.heroContent h2 {
  margin-bottom: -10px;
}

.heroItem {
  text-align: center;
  color: white;
  width: 100%;
}

.navContainer {
  display: flex;
  flex-direction: row;
  color: var(--clr-text);
  justify-content: space-between;
  padding: 16px;
  color: white;
}

.navImg {
  height: 100%;
  width: auto;
}

.navLinks {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.navLink {
  color: var(--clr-text);
  text-decoration: none;
}

.navLink:hover {
  color: var(--clr-text);
}

.itemSection {
  padding: 20px;
}

.footer {
  padding: 20px;
  color: white;
  background-color: #222222;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}